body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #17141d;
    color: white;
    font-family: 'DM Mono', monospace;
}


@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');
@import "cards";
@import "author";
@import "text";
@import "intro";
@import "test";